3)     สำหรับผู้ดูแลระบบ
3.1)         การจัดการองค์กร
                          (1)     สามารถระบุบทบาทและหน้าที่ความรับผิดชอบของหน่วยงานในสังกัดกตส.และศตส.ได้ รวมถึงสามารถระบุพื้นที่ตั้งในความรับผิดชอบของแต่ละหน่วยงานได้
                          (2)     สามารถระบุบทบาทและหน้าที่ความรับผิดชอบของเจ้าหน้าที่ในสังกัดกตส.และศตส.ได้
                          (3)     สามารถเลือกพื้นที่ตั้งการอนุมัติออกเลขที่ RMBS1) ของสถานประกอบการให้อยู่ในพื้นที่ รับผิดชอบภายใต้หน่วยงานสังกัดกตส.และศตส. ได้
                          (4)     สามารถกำหนดผู้มีอำนาจอนุมัติ/ ลงนามใบรับรอง ได้
                          (5)     การแจ้งข่าว-ประชาสัมพันธ์ สามารถแจ้งข่าวประชาสัมพันธ์และแนบลิงค์ข่าว หรือไฟล์ เอกสารประกอบการแจ้งข่าว-ประชาสัมพันธ์ให้ผู้ใช้งานระบบทราบได้
                          (6)     สามารถตรวจสอบและสามารถเห็นข้อมูลได้ทุกหน่วยงานในพื้นที่ความรับผิดชอบของ กตส.และศตส.ทั้งหมด
                          (7)     สามารถเปิดสิทธิ์ให้เจ้าหน้าที่ที่เกี่ยวข้องสามารถตรวจสอบและสามารถเห็นข้อมูลของ หน่วยงานในพื้นที่ความรับผิดชอบของ กตส. หรือ ศตส.ได้
                          (8)     สามารถเปิดสิทธิ์ให้เจ้าหน้าที่ของ ศตส. ตรวจสอบใบรับรองที่ออกโดยส่วนงาน กตส. ได้
                          (9)     ผู้ดูแลระบบลงทะเบียนเจ้าหน้าที่ สามารถเปิด-ปิดสิทธิ์เจ้าหน้าที่ผู้เข้าใช้งานระบบ กำหนดบทบาทหน้าที่ของเจ้าหน้าที่ผู้เข้าใช้งาน ผู้มีอำนาจลงนามใบรับรอง ผู้อนุมัติ ภายใต้หน่วยงานในสังกัด กตส.หรือศตส.ได้
                       (10)     ผู้ดูแลระบบสามารถเปิดสิทธิ์ให้เจ้าหน้าที่ที่เกี่ยวข้องสามารถดำเนินการเพิ่มเติม แก้ไข ปรับปรุง ระงับ หรือยกเลิกให้เป็นปัจจุบันของฐานข้อมูล DOF List และ Traceability List ของโรงงานภายใต้ พื้นที่ความรับผิดชอบของหน่วยงานนั้นฯ ได้
                       (11)     สามารถเปิดสิทธิ์ให้เจ้าหน้าที่หน่วยงานอื่นที่ไม่ได้อยู่ในสังกัดกตส. สามารถตรวจสอบ ข้อมูลหรือใบรับรองที่ออกโดยส่วนงาน กตส. ได้
3.2)         ฐานข้อมูลโรงงานที่ผ่านการรับรองสุขอนามัยของกรมประมง (DOF List)
                          (1)     ชื่อสถานประกอบการ ภาษาไทย-ภาษาอังกฤษ
                          (2)     ที่อยู่-ที่ตั้งสถานประกอบการ
                          (3)     เลขประจำตัวผู้เสียภาษี ลำดับสาขา
                          (4)     หมายเลขรับรองโรงงาน (Approval number)
                          (5)     สามารถสร้างข้อมูล แก้ไข ระงับ ยกเลิก และจัดเก็บประวัติการดำเนินการได้ รวมถึง สามารถ export ข้อมูลเป็นไฟล์ Excel จากระบบได้
                          (6)     สามารถนำเข้าข้อมูลตาม Template file ได้จำนวนหลายโรงงานและหลายรายการใน ครั้งเดียวได้
                          (7)     สามารถระบุรายชื่อประเทศที่โรงงานมีรายชื่อเป็นโรงงานส่งออกไปยังประเทศปลายทางได้
                          (8)     สามารถนำข้อมูลออกในรูปแบบ Excel file ได้
3.3)         ฐานข้อมูลโรงงานที่ผ่านการตรวจสอบย้อนกลับของกรมประมง (Traceability List)
                          (1)     ชื่อสถานประกอบการ ภาษาไทย-ภาษาอังกฤษ
                          (2)     ที่อยู่-ที่ตั้งสถานประกอบการ
                          (3)     เลขประจำตัวผู้เสียภาษี ลำดับสาขา
                          (4)     หมายเลขรับรองโรงงาน (Approval number)
                          (5)     สามารถสร้างข้อมูล แก้ไข ระงับ ยกเลิก และจัดเก็บประวัติการดำเนินการได้ รวมถึง สามารถ export ข้อมูลเป็นไฟล์ Excel จากระบบได้
                          (6)     สามารถนำเข้าข้อมูลตาม Template file ได้จำนวนหลายโรงงานและหลายรายการใน ครั้งเดียวได้
                          (7)     สามารถสำเนาฐานข้อมูลโรงงานที่ผ่านการรับรองสุขอนามัยของกรมประมง (DOF List) มาเป็นข้อมูลตั้งต้นฐานข้อมูลโรงงานที่ผ่านการตรวจสอบย้อนกลับของกรมประมง (Traceability List) ได้
                          (8)     สามารถนำข้อมูลออกในรูปแบบ Excel file ได้
3.4)         มาตรการสุขอนามัยของประเทศคู่ค้า
สำหรับจัดทำฐานข้อมูลประเทศคู่ค้าที่มีมาตรการตรวจสอบสุขอนามัยวัตถุดิบสัตว์น้ำนำเข้า สามารถตั้งค่าการตรวจสอบสุขอนามัยของวัตถุดิบสัตว์น้ำนำเข้าของประเทศคู่ค้าที่กำหนดมาตรการได้ สามารถ ตรวจสอบรายละเอียดและนำข้อมูลออกในรูปแบบ Excel file ได้
3.5)         การออกใบรับรอง PS/NMD การกำหนดคำเริ่มต้น
                          (1)     ระบบสามารถรองรับการปรับแบบฟอร์มอิเล็กทรอนิกส์โดยผู้ดูแลระบบสามารถ ดำเนินการปรับแบบฟอร์มอิเล็กทรอนิกส์ได้ในกรณีประเทศปลายทางแก้ไขกฎหมายหรือรูปแบบใบรับรองได้
                          (2)     ระบบสามารถตั้งค่าการแจ้งเตือนกรณีที่คำขอใบรับรองที่ยื่นมาใกล้ถึงวันที่ส่งออกใน ขั้นตอนการติดตามสถานะคำขอ โดยระบบสามารถตั้งค่าการแจ้งเตือนล่วงหน้าก่อนส่งออกในคำขอใบรับรอง ได้ และเพิ่มการค้นหาวันที่ส่งออกในการติดตามสถานะคำขอใบรับรองได้
                          (3)     สามารถระงับการออกใบรับรองของสถานประกอบการตามรูปแบบใบรับรองที่กำหนด หรือสามารถระงับการออกใบรับรองไปยังประเทศปลายทางที่กำหนดได้ (ระงับโรงงาน A สามารถใช้ฟอร์ม EU ส่งออกไปเดนมาร์กได้แต่ไม่สามารถส่งออกไปยัง UK ได้เนื่องจากเรือขนหรือโรงงานไม่อยู่ใน UK List และเพื่อ ป้องกันไม่ให้เดนมาร์กนำไปผลิตหรือส่งต่อไปยัง UK)
3.6)         รายงาน static และรายงาน Dynamic
                          (1)     สามารถดึงรายงานผ่านหน้าโปรแกรมของระบบและ Export ข้อมูลเป็นไฟล์ Excel (data sheet) ได้ โดยมีรูปแบบและเงื่อนไขการค้นหาตามที่กรมประมงกำหนด
                          (2)     รายงานการควบคุมปริมาณวัตถุดิบสัตว์น้ำนำเข้า เอกสารที่ 1 และเอกสารที่ 2 สามารถ สืบค้นตามชนิด ปริมาณ แหล่งที่มา ผู้ประกอบการ หน่วยงานที่อนุมัติ จำนวนการออกเอกสารตามช่วงวันที่ที่ ต้องการสืบค้น เป็นต้น
                          (3)     รายงานการพิจารณาอนุมัติ %Yield ของสถานประกอบการ
                          (4)     รายงานการ-เอกสารการควบคุมปริมาณสินค้า เอกสารที่ 1 และเอกสารที่ 2 สามารถ สืบค้นตามชนิด ปริมาณ แหล่งที่มา ผู้ประกอบการ จำนวนการออกเอกสาร เป็นต้น
                          (5)     รายงานการออกใบรับรอง Processing statement/ Non-Manipulation Document สามารถสืบค้นตามชนิด ปริมาณ แหล่งที่มา ผู้ประกอบการ สินค้า ประเทศปลายทาง ประเภทใบรับรอง หน่วยงานที่อนุมัติ จำนวนการออกเอกสารตามช่วงวันที่ที่ต้องการสืบค้น เป็นต้น
                          (6)     สรุปภาพรวมใบรับรองที่ออก เช่น การแก้ไข การออกใบแทนใบรับรอง การยกเลิกใบรับรอง
                          (7)     รายงานการออกใบรับรองรายประเทศตามชนิดและปริมาณ น้ำหนักของวัตถุดิบสัตว์น้ำ นำเข้าที่ส่งออก และน้ำหนักสุทธิที่ส่งออก เช่น ส่งออกกลุ่มสหภาพยุโรป วัตถุดิบปลาทูน่าท้องแถบ น้ำหนัก วัตถุดิบรับเข้าที่ผลิตและส่งออก และน้ำหนักสุทธิของสินค้า รายงานสามารถค้นหาตามแต่ละประเภทการ ค้นหา หรือการจัดเรียงลำดับจำนวนที่มากที่สุดหรือน้อยที่สุดได้ เช่น ชนิดสัตว์น้ำนำเข้าที่ส่งออกมากที่สุด ประเทศปลายทางที่ส่งออกมากที่สุด
                          (8)     รายงานการค้นหาหนังสือรับรองตนเอง
                          (9)     รายงานการค้นหาการตรวจสอบย้อนกลับ
                       (10)     รายงานสรุปการออกใบรับรองรายปี รายเดือน รายสัปดาห์ พร้อมรายละเอียด RMBS1 RMBS2 P1 P2 ชนิดสัตว์น้ำ ชื่อสินค้า น้ำหนักวัตถุดิบสัตว์น้ำรับเข้า น้ำหนักวัตถุดิบสัตว์น้ำที่ส่งออก โดย สามารถจำแนกตามการค้นหาของประเภทใบรับรอง รายประเทศ รายผู้ประกอบการ รายวัตถุดิบสัตว์น้ำ รายการสินค้า วันที่ออกใบรับรอง รวมถึงผลรวมทั้งหมดได้
                       (11)     รายการแสดงสรุปผลรวมน้ำหนักวัตถุดิบสัตว์น้ำนำเข้า ผลรวมน้ำหนักวัตถุดิบสัตว์น้ำ นำเข้าส่งออก แต่ละประเทศตามประเภทใบรับรองในช่วงวันที่ที่กำหนด
                       (12)     รายงานเศษเหลือจากกระบวนการผลิต
3.7)         กำหนดรูปแบบการจัดทำใบรับรอง
                          (1)     สามารถกำหนด แก้ไข ยกเลิก รูปแบบการจัดทำใบรับรองแบบเจ้าหน้าที่จัดทำ แบบ อัตโนมัติทั้งกระบวนการ แบบอัตโนมัติหลังรับคำขอ แบบอัตโนมัติหลังการตรวจปล่อย
                          (2)     สามารถกำหนดช่วงวันที่ รูปแบบการจัดทำใบรับรองแต่ละใบได้
                          (3)     สามารถกำหนดลายมือชื่ออิเล็กทรอนิกส์ และแสดงลายมือชื่ออิเล็กทรอนิกส์การอนุมัติ สำหรับออกใบรับรองอัตโนมัติ โดยใช้ลายมือชื่ออิเล็กทรอนิกส์กรมประมงออกโดยระบบอัตโนมัติ
                          (4)     สามารถกำหนด เพิ่ม แก้ไข ลบ/ระงับ กำหนดช่วงวันที่ ลายมือชื่ออิเล็กทรอนิกส์สำหรับ การอนุมัติแบบอัตโนมัติทั้งกระบวนการได้ โดยต้องรองรับการประทับลายมือชื่ออิเล็กทรอนิกส์บนใบอนุญาต/ ใบรับรองที่ออกโดยระบบอัตโนมัติทั้งกระบวนการได้อย่างถูกต้องตามมาตรฐาน และดำเนินการตามชั้นตอน และกระบวนการที่สอดคล้องกับมาตรฐานด้านความปลอดภัยและข้อกำหนดของกฎหมายที่เกี่ยวข้อง
                          (5)     เพิ่ม แก้ไขไฟล์ลายมือชื่ออิเล็กทรอนิกส์สำหรับลงนามใบรับรองของแต่ละหน่วยงาน
                          (6)     สามารถกำหนดต้นแบบการลงทะเบียนรับเรื่อง และกำหนดผู้ทำหน้าที่แทนได้

