@{
  TempData.Keep();
  string? currentPage = ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu">

  @* ! Hide app brand if navbar-full *@
  <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
    <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
      <span class="app-brand-logo demo flex-shrink-0" style="width: 36px; height: 36px; display: inline-flex; align-items: center; justify-content: center;">
        <img src="~/img/branding/logo.png" alt="Department of Fisheries Logo" style="width: 36px; height: 36px; object-fit: contain;" />
      </span>
      <span class="app-brand-text demo ms-2" style="font-size: 0.825rem; letter-spacing: 0; line-height: 1.25; text-transform: none;">
        <span class="d-block fw-bold" style="font-size: 1.1rem;">กรมประมง</span>
        <small class="d-block text-muted fw-normal" style="font-size: 0.72rem;">Department of Fisheries</small>
      </span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.47365 11.7183C8.11707 12.0749 8.11707 12.6531 8.47365 13.0097L12.071 16.607C12.4615 16.9975 12.4615 17.6305 12.071 18.021C11.6805 18.4115 11.0475 18.4115 10.657 18.021L5.83009 13.1941C5.37164 12.7356 5.37164 11.9924 5.83009 11.5339L10.657 6.707C11.0475 6.31653 11.6805 6.31653 12.071 6.707C12.4615 7.09747 12.4615 7.73053 12.071 8.121L8.47365 11.7183Z" fill-opacity="0.9" />
        <path d="M14.3584 11.8336C14.0654 12.1266 14.0654 12.6014 14.3584 12.8944L18.071 16.607C18.4615 16.9975 18.4615 17.6305 18.071 18.021C17.6805 18.4115 17.0475 18.4115 16.657 18.021L11.6819 13.0459C11.3053 12.6693 11.3053 12.0587 11.6819 11.6821L16.657 6.707C17.0475 6.31653 17.6805 6.31653 18.071 6.707C18.4615 7.09747 18.4615 7.73053 18.071 8.121L14.3584 11.8336Z" fill-opacity="0.4" />
      </svg>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  @* ! Full version menu-items *@
  <ul class="menu-inner py-1"> 

    <!-- Apps & Pages -->
    <li class="menu-header">
      <span class="menu-header-text" data-i18n="สมาชิก">สมาชิก</span>
    </li>

    <li class='menu-item@(currentPage.StartsWith("/ImportAdjustment") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon icon-base ri ri-file-list-2-line"></i>
        <div data-i18n="ขอเปลี่ยนแปลงปริมาณ">ขอเปลี่ยนแปลงปริมาณ</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/ImportAdjustment/IndexIMD" ? " active" : "")'>
          <a asp-controller="ImportAdjustment" asp-action="IndexIMD" class="menu-link">
            <div data-i18n="จับคู่ IMD">จับคู่ IMD</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/ImportAdjustment/IndexPurchase" ? " active" : "")'>
          <a asp-controller="ImportAdjustment" asp-action="IndexPurchase" class="menu-link">
            <div data-i18n="จับคู่ซื้อต่อ">จับคู่ซื้อต่อ</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/ImportAdjustment/IndexPost" ? " active" : "")'>
          <a asp-controller="ImportAdjustment" asp-action="IndexPost" class="menu-link">
            <div data-i18n="จับคู่ภายหลัง">จับคู่ภายหลัง</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/ImportAdjustment/IndexChangeCCSCC" ? " active" : "")'>
          <a asp-controller="ImportAdjustment" asp-action="IndexChangeCCSCC" class="menu-link">
            <div data-i18n="เปลี่ยน CC/SCC">เปลี่ยน CC/SCC</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/ImportAdjustment/IndexChangeRMBS1" ? " active" : "")'>
          <a asp-controller="ImportAdjustment" asp-action="IndexChangeRMBS1" class="menu-link">
            <div data-i18n="เปลี่ยนสถานะ RMBS1">เปลี่ยนสถานะ RMBS1</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/ImportAdjustment/IndexAdjustRMBS1PS" ? " active" : "")'>
          <a asp-controller="ImportAdjustment" asp-action="IndexAdjustRMBS1PS" class="menu-link">
              <div data-i18n="บันทึก RMBS1:PS">บันทึก RMBS1:PS</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/ImportAdjustment/IndexAdjustRMBS1NoPS" ? " active" : "")'>
          <a asp-controller="ImportAdjustment" asp-action="IndexAdjustRMBS1NoPS" class="menu-link">
            <div data-i18n="บันทึก RMBS1:NoPS">บันทึก RMBS1:NoPS</div>
          </a>
        </li>
      </ul>
    </li>

    <li class='menu-item@(currentPage.StartsWith("/PSDeclaration") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon icon-base ri ri-file-list-2-line"></i>
        <div data-i18n="ขอใบรับรอง">ขอใบรับรอง</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/PSDeclaration" ? " active" : "")'>
          <a asp-controller="PSDeclaration" asp-action="Index" class="menu-link">
            <div data-i18n="สร้างคำขอ">สร้างคำขอ</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/PSDeclaration/IndexTrackRequestStatus" ? " active" : "")'>
          <a asp-controller="PSDeclaration" asp-action="IndexTrackRequestStatus" class="menu-link">
            <div data-i18n="ติดตามสถานะ">ติดตามสถานะ</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/PSDeclaration/IndexManageCertificate" ? " active" : "")'>
          <a asp-controller="PSDeclaration" asp-action="IndexManageCertificate" class="menu-link">
            <div data-i18n="ใบรับรองฯ">ใบรับรองฯ</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/PSDeclaration/IndexUpdateCertificate" ? " active" : "")'>
          <a asp-controller="PSDeclaration" asp-action="IndexUpdateCertificate" class="menu-link">
            <div data-i18n="เปลี่ยนแปลงใบรับรองฯ">เปลี่ยนแปลงใบรับรองฯ</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/PSDeclaration/IndexApproveReturnWeight" ? " active" : "")'>
          <a asp-controller="PSDeclaration" asp-action="IndexApproveReturnWeight" class="menu-link">
            <div data-i18n="ขอคืนน้ำหนักสินค้า">ขอคืนน้ำหนักสินค้า</div>
          </a>
        </li>
      </ul>
    </li>

    <li class="menu-header mt-2">
      <span class="menu-header-text" data-i18n="เจ้าหน้าที่">เจ้าหน้าที่</span>
    </li>

    <li class='menu-item@(currentPage.StartsWith("/Officer/Index") && (currentPage == "/Officer/IndexRMBS1PS" || currentPage == "/Officer/IndexApproveYield" || currentPage == "/Officer/IndexQuantityControl") ? " active open" : currentPage.StartsWith("/Officer/IndexRMBS1PS") || currentPage.StartsWith("/Officer/IndexApproveYield") || currentPage.StartsWith("/Officer/IndexQuantityControl") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon icon-base ri ri-file-text-line"></i>
        <div data-i18n="เอกสาร RMBS1">เอกสาร RMBS1</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Officer/IndexRMBS1PS" ? " active" : "")'>
          <a asp-controller="Officer" asp-action="IndexRMBS1PS" class="menu-link">
            <div data-i18n="ออก RMBS1 PS">ออก RMBS1 PS</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Officer/IndexApproveYield" ? " active" : "")'>
          <a asp-controller="Officer" asp-action="IndexApproveYield" class="menu-link">
            <div data-i18n="อนุมัติ %Yield">อนุมัติ %Yield</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Officer/IndexQuantityControl" ? " active" : "")'>
          <a asp-controller="Officer" asp-action="IndexQuantityControl" class="menu-link">
            <div data-i18n="ควบคุมปริมาณสินค้า">ควบคุมปริมาณสินค้า</div>
          </a>
        </li>
      </ul>
    </li>

    <li class='menu-item@(currentPage == "/Officer/IndexIssueCertificate" || currentPage == "/Officer/IndexReviewChange" || currentPage == "/Officer/IndexReplacement" || currentPage == "/Officer/IndexRevoke" || currentPage == "/Officer/IndexReturnWeight" || currentPage == "/Officer/IndexSearchCertificate" || currentPage == "/Officer/IndexSearchSelfDecl" ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon icon-base ri ri-article-line"></i>
        <div data-i18n="ใบรับรอง PS/NoPS">ใบรับรอง PS/NoPS</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Officer/IndexIssueCertificate" ? " active" : "")'>
          <a asp-controller="Officer" asp-action="IndexIssueCertificate" class="menu-link">
            <div data-i18n="ออกใบรับรอง">ออกใบรับรอง</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Officer/IndexReviewChange" ? " active" : "")'>
          <a asp-controller="Officer" asp-action="IndexReviewChange" class="menu-link">
            <div data-i18n="พิจารณาเปลี่ยนแปลง">พิจารณาเปลี่ยนแปลง</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Officer/IndexReplacement" ? " active" : "")'>
          <a asp-controller="Officer" asp-action="IndexReplacement" class="menu-link">
            <div data-i18n="ใบรับรองทดแทน">ใบรับรองทดแทน</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Officer/IndexReturnWeight" ? " active" : "")'>
          <a asp-controller="Officer" asp-action="IndexReturnWeight" class="menu-link">
            <div data-i18n="คืนน้ำหนักสินค้า">คืนน้ำหนักสินค้า</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Officer/IndexSearchCertificate" ? " active" : "")'>
          <a asp-controller="Officer" asp-action="IndexSearchCertificate" class="menu-link">
            <div data-i18n="ค้นหาใบรับรอง">ค้นหาใบรับรอง</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Officer/IndexSearchSelfDecl" ? " active" : "")'>
          <a asp-controller="Officer" asp-action="IndexSearchSelfDecl" class="menu-link">
            <div data-i18n="ค้นหาใบสำรองตนเอง">ค้นหาใบสำรองตนเอง</div>
          </a>
        </li>
      </ul>
    </li>

    <li class='menu-item@(currentPage == "/Officer/IndexReports" || currentPage == "/Officer/IndexUserData" || currentPage == "/Officer/IndexStatistics" || currentPage == "/Officer/IndexRegisterUser" || currentPage == "/Officer/IndexCertTemplate" ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon icon-base ri ri-settings-3-line"></i>
        <div data-i18n="จัดการระบบ">จัดการระบบ</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Officer/IndexReports" ? " active" : "")'>
          <a asp-controller="Officer" asp-action="IndexReports" class="menu-link">
            <div data-i18n="รายงาน">รายงาน</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Officer/IndexUserData" ? " active" : "")'>
          <a asp-controller="Officer" asp-action="IndexUserData" class="menu-link">
            <div data-i18n="ข้อมูลผู้ใช้งาน">ข้อมูลผู้ใช้งาน</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Officer/IndexStatistics" ? " active" : "")'>
          <a asp-controller="Officer" asp-action="IndexStatistics" class="menu-link">
            <div data-i18n="สถิติการใช้งาน">สถิติการใช้งาน</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Officer/IndexRegisterUser" ? " active" : "")'>
          <a asp-controller="Officer" asp-action="IndexRegisterUser" class="menu-link">
            <div data-i18n="ลงทะเบียนผู้ใช้">ลงทะเบียนผู้ใช้</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Officer/IndexCertTemplate" ? " active" : "")'>
          <a asp-controller="Officer" asp-action="IndexCertTemplate" class="menu-link">
            <div data-i18n="รูปแบบใบรับรอง">รูปแบบใบรับรอง</div>
          </a>
        </li>
      </ul>
    </li>

    <li class="menu-header mt-2">
      <span class="menu-header-text" data-i18n="ผู้ดูแลระบบ">ผู้ดูแลระบบ</span>
    </li>

    <li class='menu-item@(currentPage == "/Admin/Organization" ? " active" : "")'>
      <a asp-controller="Admin" asp-action="Organization" class="menu-link">
        <i class="menu-icon icon-base ri ri-building-line"></i>
        <div data-i18n="จัดการองค์กร">จัดการองค์กร</div>
      </a>
    </li>
    <li class='menu-item@(currentPage == "/Admin/DofList" ? " active" : "")'>
      <a asp-controller="Admin" asp-action="DofList" class="menu-link">
        <i class="menu-icon icon-base ri ri-list-check-2"></i>
        <div data-i18n="ทะเบียน DOF">ทะเบียน DOF</div>
      </a>
    </li>
    <li class='menu-item@(currentPage == "/Admin/TraceabilityList" ? " active" : "")'>
      <a asp-controller="Admin" asp-action="TraceabilityList" class="menu-link">
        <i class="menu-icon icon-base ri ri-search-eye-line"></i>
        <div data-i18n="รายชื่อ Traceability">รายชื่อ Traceability</div>
      </a>
    </li>
    <li class='menu-item@(currentPage == "/Admin/NotificationReason" ? " active" : "")'>
      <a asp-controller="Admin" asp-action="NotificationReason" class="menu-link">
        <i class="menu-icon icon-base ri ri-notification-3-line"></i>
        <div data-i18n="มาตรการสุขอนามัย">มาตรการสุขอนามัย</div>
      </a>
    </li>
    <li class='menu-item@(currentPage == "/Admin/IssueReason" ? " active" : "")'>
      <a asp-controller="Admin" asp-action="IssueReason" class="menu-link">
        <i class="menu-icon icon-base ri ri-file-paper-2-line"></i>
        <div data-i18n="ออกใบรับรอง PS/NMD">ออกใบรับรอง PS/NMD</div>
      </a>
    </li>
    <li class='menu-item@(currentPage == "/Admin/Reports" ? " active" : "")'>
      <a asp-controller="Admin" asp-action="Reports" class="menu-link">
        <i class="menu-icon icon-base ri ri-bar-chart-box-line"></i>
        <div data-i18n="รายงาน">รายงาน</div>
      </a>
    </li>
    <li class='menu-item@(currentPage == "/Admin/CertificateTemplate" ? " active" : "")'>
      <a asp-controller="Admin" asp-action="CertificateTemplate" class="menu-link">
        <i class="menu-icon icon-base ri ri-layout-4-line"></i>
        <div data-i18n="รูปแบบใบรับรอง">รูปแบบใบรับรอง</div>
      </a>
    </li>
  </ul>

</aside>

<div class="menu-mobile-toggler d-xl-none rounded-1">
  <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large text-bg-secondary p-2 rounded-1">
    <i class="ri ri-menu-line icon-base"></i>
    <i class="ri ri-arrow-right-s-line icon-base"></i>
  </a>
</div>
<!-- / Menu -->
